<div class="section inner-side-container">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 col-md-12">
        <div   class="row gx-0 justify-content-center h-100 align-items-center bg-white">
          <div class="col-lg-6 col-md-6">
            <div class="bg-white p-5">
              <!-- <span class="back-btn"><a href="#"><i class="fa-solid fa-arrow-left"></i></a></span> -->
              <div class="text-center">
                <h4 class="mb-5"><strong>Change Password</strong></h4>
              <img src="assets/images/new-password.png" alt="Forgot Password" width="150">
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-12">
            <div class="login-container p-5">
              <div class="login-content">
                <div class="logo text-center mb-3">
                  <h6>Welcome</h6>
                </div>
                <div class="py-3">
                  <mat-card>
                    <form class="login" [formGroup]="loginForm" novalidate (ngSubmit)="onSubmit()">
                      <label>Enter Old Password</label>
                      <mat-form-field class="bg-white mb-3">
                        <!-- <mat-icon matPrefix><i class="fa-solid fa-user"></i></mat-icon> -->
                        <input type="password" style="color: black !important;" [type]="showoldPassword ? 'text' : 'password'" autocomplete="false" matInput placeholder="Old Password"
                        formControlName="password">
                        <mat-icon matSuffix (click)="toggleoldPasswordVisibility()">
                          {{showoldPassword?'visibility_off':'visibility'}}
                      </mat-icon>
                      </mat-form-field>
                      <label>Enter New Password</label>
                      <mat-form-field class="bg-white mb-3">
                        <!-- <mat-icon matPrefix><i class="fa-solid fa-key"></i></mat-icon> -->
                        <input type="password" style="color: black !important;" [type]="shownewPassword ? 'text' : 'password'" autocomplete="false" matInput placeholder="New password"
                          formControlName="confirmpasswordduplicate">
                          <mat-icon matSuffix (click)="togglenewPasswordVisibility()">
                              {{shownewPassword?'visibility_off':'visibility'}}
                          </mat-icon>
                      </mat-form-field>
                      <label>Confirm Password</label>
                      <mat-form-field class="bg-white mb-3">
                          <!-- <mat-icon matPrefix><i class="fa-solid fa-key"></i></mat-icon> -->
                          <input type="password" style="color: black !important;" [type]="showPassword ? 'text' : 'password'" autocomplete="false" matInput placeholder="confirm password"
                            formControlName="confirmpassword">
                            <mat-icon matSuffix (click)="togglePasswordVisibility()">
                                {{showPassword?'visibility_off':'visibility'}}
                            </mat-icon>
                        </mat-form-field>
                      <div class="text-center mt-3">
                        <button class="btn btn-white w-100" >Submit</button>
                      </div>
                    </form>
                  </mat-card>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
