<kendo-drawer-container>
    <!--  -->
    <kendo-drawer class="weureiu" #drawer [items]="items" mode="push" [mini]="true" [expanded]="true"
        (select)="onSelect($event)" [autoCollapse]="false" [isItemExpanded]="isItemExpanded">
        <ng-template kendoDrawerHeaderTemplate>
            <div class="mt-4">
                <span class="mail-box"><img src="assets/images/welkins-white.png" width="125" alt="logo"></span>
            </div>
        </ng-template>
        <ng-template kendoDrawerFooterTemplate>
            <div style="text-align: center; position: absolute; bottom:50px;right: 130px ">
                <a (click)="onLogout()" matTooltip="Logout" aria-label="Logout" style="font-size: 18px;"><i
                        class="fa-solid fa-power-off"></i> Logout</a>
            </div>

        </ng-template>
    </kendo-drawer>



    <kendo-drawer-content>
        <div class="custom-toolbar d-flex justify-content-between align-items-center">
            <div class="logo-area w-50">
                <button kendoButton [svgIcon]="menuSvg" fillMode="flat" (click)="drawer.toggle()"></button>



                <!-- <div>
                    <form class="navbar-search">
                        <div class="input-group">
                            <div class="input-group-append">
                                <i class="fas fa-search fa-sm"></i>
                            </div>
                            <input type="text" class="form-control bl-input" placeholder="Search for..."
                                aria-label="Search" aria-describedby="basic-addon2">

                        </div>
                    </form>
                </div> -->
            </div>
            <div class="icon-oio">
                <ul class="list-items list-style-none m-0">
                    <!-- <li><a (click)="onswitchAccount()"><i class="fa-solid fa-bell">Switch Account</i></a></li> -->
                    
                    <kendo-avatar
                    (click)="navigate()"
                    [imageSrc]="client_image"
                    shape="circle"
                    title="Tap to edit profile"
                  ></kendo-avatar>
                    
                    <div>
                      <p>&nbsp; Welcome {{client_name}} &nbsp; </p>
                    </div>
                    <div *ngIf ="client_type == 2">
                        <kendo-switch [(ngModel)]="checked" (valueChange)="onswitchAccount()" onLabel="client"
                            offLabel="broker" style="width: 85px;">
                        </kendo-switch>
                    </div>
                    <!-- <li class="menu-icon"><a (click)="onLogout()" matTooltip="Logout" aria-label="Logout"><i class="fa-solid fa-power-off"></i></a></li> -->

                </ul>
            </div>
        </div>
        <router-outlet></router-outlet>
    </kendo-drawer-content>
</kendo-drawer-container>