<app-loader></app-loader>

<div class="add-enquiry">
    <div class="row">
        <div class="col-lg-5 col-md-12">
            <ng-container *ngFor="let object of propertyImage">
                <ng-template [ngIf]="object.prop_id  == propertyData.id">
                    <div class=" property-card style3 h_img">
                        <img mat-card-image style="height: 300px; width:100%"
                            src='https://wellkinsstorageprod.blob.core.windows.net/{{object.property_img}}' />
                    </div>
                </ng-template>
            </ng-container>
        </div>
        <div class="col-lg-7 col-md-12">
            <div class="pt-4 px-3">
                <h5 class="mb-3"  style="color:black">{{propertyData.property_name}}</h5>
                <p style="color:black">{{propertyData.desc}}</p>
                <div class="mb-4">
                    <a class="btn btn-style-target" (click)="checkPdf('PDS')"
                        href="https://wellkinsstorageprod.blob.core.windows.net/pds/{{propertyData.pds}}"
                        target="_blank">Click Here to View PDS</a>
                    <a class="btn btn-style-target" (click)="checkPdf('SPDs')"
                        href="https://wellkinsstorageprod.blob.core.windows.net/spds/{{propertyData.spds}}"
                        target="_blank">Click Here to View SPDS</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-5 px-4">
            <p style="color: red;">Price per unit Is : {{propertyData.price_per_share | currency :
                'USD' : 'symbol' : '1.0-0'}}</p>
            <form [formGroup]="buyForm">
                <div class="buy-en">
                    <div class="mb-2">
                        <label style="color:black">Number of units you want to invest ?
                        </label>
                        <mat-form-field appearance="outline">


                            <input matInput placeholder=" ex. 2 " pattern="^[1-9]\d*$"
                                formControlName="share">
                        </mat-form-field>
                        <mat-error *ngIf="buyForm.get('share')!.hasError('required')"> Please enter
                            No of shares</mat-error>
                        <mat-error *ngIf="buyForm.get('share')!.hasError('pattern')">
                            Leading Zeroes, Decimal & special characters Not Allowed</mat-error>
                    </div>
                    <div class="mb-2">
                        <label style="color:black">Total amount invested
                        </label>
                        <mat-form-field appearance="outline">
                            <input style="color:black" matInput formControlName="InvestmentAmount" readonly
                                [value]="  this.buyForm.get('share')!.value * propertyData.price_per_share | currency : 'USD' ">


                        </mat-form-field>
                    </div>



                </div>
            </form>

        </div>

        <div class="col-lg-7 px-4">

            <div class="list-items mb-5">
                <ul class="list-menu">
                    <li style="color:black">Click here to view and <a (click)="checkPdf('FSG')"
                            href="https://wellkinsstorageprod.blob.core.windows.net/fsg/{{propertyData.fsg}}"
                            target="_blank"> download the FSG</a> </li>
                    <li style="color:black">Click here to view and <a (click)="checkPdf('TDM')"
                            href="https://wellkinsstorageprod.blob.core.windows.net/tdm/{{propertyData.tdm}}"
                            target="_blank">download the TDM</a> </li>
                    <li style="color:black" > Click here to view and <a (click)="checkPdf('Brochure')"
                            href="https://wellkinsstorageprod.blob.core.windows.net/brochure/{{propertyData.brocher}}"
                            target="_blank">download the Fund brochure</a> </li>

                </ul>
            </div>

            <div class="cstm-checkbox pb-3">
                <form [formGroup]="buyForm">
                    <mat-checkbox  style="color:black" formControlName="consent" required>
                       <p style="color:black"> I confirm my intention to invest in the Fund and I confirm that I have viewed and downloaded
                        the PDS, SPDS, TMD and FSG before investing in the Fund.</p>
                    </mat-checkbox>
                    <mat-error *ngIf="buyForm.get('consent')!.hasError('required')">Required
                    </mat-error>
                </form>

            </div>
            <div *ngIf="propertyData.status == 'Trending' && userType != 'broker'" class="text-center">
                <button class="btn btn-success w-100" [disabled]="!buyForm.valid"
                    (click)="gotoForm(buyForm.value)">Submit</button>
            </div>
            <div *ngIf="propertyData.status != 'Trending'  && userType != 'broker'" class="text-center">
                <button style="color:black;background-color: green;" [disabled]="!buyForm.valid"
                    (click)="sendEnquiry(buyForm.value)">Express Your Interest</button>
            </div>
            <div class="text-center">
                <button *ngIf="userType == 'broker'" class="btn btn-success w-100"
                    (click)="onsendEmailClick()">Send Email</button>
            </div>

        </div>
    </div>
</div>
<div style="height: 50px;"></div>