<section class="section mt-75 mb-75">
  <div class="container-fluid">
   <div class="mb-3">
    <div class="row">
      <div class="col-lg-8 col-md-12">
        <div class="bg-cs-light p-3 border-radius-5">
          <h4 class="white-text main_heading">Property Funds</h4>
          <span class="small-heading-text">Investments</span>
          <div class="row gx-3 py-3">
            <div class="col-lg-3 col-md-6">
              <div class="card">
                <div class="card-body card-theme-one">
                  <span class="property-icon-1 mb-2"><i class="fa-solid fa-diagram-project"></i></span>
                  <div class="card-1">$245,000,000</div>
                  <div class="d-flex justify-content-between">
                    <h6>Land Development</h6>
                  </div>
                  <div class="d-flex justify-content-between">
                    <div class="card-content">
                      
                      <h6 class="bt-text-1">+10.00% from previous year</h6>
                    </div>
                    <div class="card-chart">
      
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6">
              <div class="card">
                <div class="card-body card-theme-two">
                  <span class="property-icon-2 mb-2"><i class="fa-solid fa-chart-bar"></i></span>
                  <div class="card-2">$57,000,000</div>
                  <div class="d-flex justify-content-between">
                    <h6>Land Banking</h6>
                  </div>
                  <div class="d-flex justify-content-between">
                    <div class="card-content">
                     
                      <h6 class="bt-text-2">+12.00% from previous year</h6>
                    </div>
                    <div class="card-chart">
      
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6">
              <div class="card">
                <div class="card-body card-theme-three">
                  <span class="property-icon-3 mb-2"><i class="fa-solid fa-briefcase"></i></span>
                  <div class="card-3">$126,500,000</div>
                  <div class="d-flex justify-content-between">
                    <h6> Rental</h6>
                  </div>
                  <div class="d-flex justify-content-between">
                    <div class="card-content">
                    
                      <h6 class="bt-text-3">+12.00% from previous year</h6>
                    </div>
                    <div class="card-chart">
      
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6">
              <div class="card">
                <div class="card-body card-theme-four">
                  <span class="property-icon-4 mb-2"><i class="fa-solid fa-user-plus"></i></span>
                  <div class="card-3">$428,500,000</div>
                  <div class="d-flex justify-content-between">
                    <h6>Total Investments</h6>
                  </div>
                  <div class="d-flex justify-content-between">
                    <div class="card-content">
                      
                      <h6 class="bt-text-4">+15.00% from previous year</h6>
                    </div>
                    <div class="card-chart">
      
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-12">
        <div class="bg-cs-light p-3 border-radius-5">
          <h4 class="white-text main_heading">Mortgage Funds</h4>
          <span style="visibility: hidden;">!</span>
          <div class="row gx-3 py-3">
            <div class="col-lg-6 col-md-6">
              <div class="card">
                <div class="card-body card-theme-one">
                  <span class="property-icon-1 mb-2"><i class="fa-solid fa-diagram-project"></i></span>
                  <div class="card-1">0</div>
                  <div class="d-flex justify-content-between">
                    <h6>Pool Fund </h6>
                  </div>
                  <div class="d-flex justify-content-between">
                    <div class="card-content">
                      <!-- <span class="small-text">Portfolio</span> -->
                      <!-- <h6 class="bt-text-1">+6.00% from yesterday</h6> -->
                    </div>
                    <div class="card-chart">
      
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-md-6">
              <div class="card">
                <div class="card-body card-theme-two">
                  <span class="property-icon-2 mb-2"><i class="fa-solid fa-chart-bar"></i></span>
                  <div class="card-2">0</div>
                  <div class="d-flex justify-content-between">
                    <h6>Mortgage Fund</h6>
                  </div>
                  <div class="d-flex justify-content-between">
                    <div class="card-content">
                    
                      <!-- <h6 class="bt-text-2">+3.00% from yesterday</h6> -->
                    </div>
                    <div class="card-chart">
      
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
   </div>
    

   <div class="mb-3">
    <div class="row">
      <div class="col-lg-8 col-md-4">
        <div class="bg-cs-light p-3 border-radius-5">
          <h4 class="white-text main_heading">Invested Locations</h4>
          <table class="table table-dark my-3">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">No of Project</th>
                <th scope="col">Name</th>
                <th scope="col">Popularity</th>
                <th scope="col">Funds</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>07</td>
                <td>NSW</td>
                <td><mat-progress-bar class="prog-bg-1" mode="determinate" value="100"></mat-progress-bar></td>
                <td><button class="preBtn progress-btn-1" type="button">100%</button></td>
              </tr>
              
              <tr>
                <th scope="row">2</th>
                <td>00</td>
                <td>VIC</td>
                <td><mat-progress-bar class="prog-bg-2" mode="determinate" value="0"></mat-progress-bar></td>
                <td><button class="preBtn progress-btn-2" type="button">0%</button></td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>00</td>
                <td>SA</td>
                <td><mat-progress-bar class="prog-bg-3" mode="determinate" value="0"></mat-progress-bar></td>
                <td><button class="preBtn progress-btn-3" type="button">0%</button></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-lg-4 col-md-4">
        <div class="bg-cs-light p-3 border-radius-5 ">
          <h4 class="white-text main_heading">Popularity and Funds</h4>
          <div class="py-3">
            <kendo-chart class="chart-height">
              <kendo-chart-area background="#21212d"></kendo-chart-area>
              <kendo-chart-series>
                <kendo-chart-category-axis>
                  <kendo-chart-category-axis-item
                    [categories]="['Jan',  'Apr',  'Jul', 'Oct']"
                    [title]="{ text: 'Months(Quarterly),' }"
                  >
                  </kendo-chart-category-axis-item>
                </kendo-chart-category-axis>
                
                <kendo-chart-series-item type="area" name="Current Year"  [data]="[107, 120, 135, 144]">
                </kendo-chart-series-item>
                <kendo-chart-series-item type="area" name="Previous Year"  [data]="[54, 60, 80, 95 ]">
                </kendo-chart-series-item>
                <kendo-chart-series-item-tooltip format=" value: ${0}Million">
                </kendo-chart-series-item-tooltip>
              </kendo-chart-series>
            </kendo-chart>
          </div>
        </div>
      </div>
    </div>
   </div>


    <div class="mb-3">
      <div class="row">
         <div class="col-lg-4 col-md-4">
          <div class="bg-cs-light p-3 border-radius-5">
            <h4 class="white-text main_heading">Funding</h4>
            <span class="small-text-heading" style="color:white">Total Funding</span><br>

            <span  style="color:red;font-size: 25px;">$6078.76</span><br>
            <div class="col-lg-12 col-md-4">
                 <span  style="color:white">Profit is 48% more than last month</span>
            </div>
            

            <!-- <div class="py-3">
              <kendo-chart style="height: 355px;">
                <kendo-chart-area background="#21212d"></kendo-chart-area>
                <ng-template kendoChartDonutCenterTemplate>
                  <span class="white-text">22%</span>
                </ng-template>
                <kendo-chart-series >
                  <kendo-chart-series-item
                    type="donut"
                    [data]="data"
                    categoryField="kind"
                    field="share"
                    background="#000"
                   
                  >
                    <kendo-chart-series-item-labels
                      [content]="labelContent"
                      color="#fff"
                      background="none"
                    >
                    </kendo-chart-series-item-labels>
                  </kendo-chart-series-item>
                </kendo-chart-series>
                <kendo-chart-legend [visible]="false"></kendo-chart-legend>
              </kendo-chart>
            </div> -->
            <div style="display:block">
              <kendo-arcgauge [value]="value" [colors]="colors" style="justify-content: center;height: 250px;display:inline-block">
                  <ng-template kendoArcGaugeCenterTemplate let-value="value" let-color="color">
                      <span [style.color]="'white'"><span style ="font-size: 40px;">{{ value }}%</span></span>
                  </ng-template>
                  <kendo-arcgauge-scale
                  [rangeLineCap]="'butt'"
                [rangeSize]="30"
               
            >
                
            </kendo-arcgauge-scale>
              </kendo-arcgauge>
              </div>
          </div>
        </div> 
        
        <div class="col-lg-8 col-md-4">
          <div class="bg-cs-light p-3 border-radius-5">
            <h4 class="white-text main_heading">Rental Yields</h4>
            <kendo-chart class="mt-3">
              <kendo-chart-area background="#21212d"></kendo-chart-area>
              <kendo-chart-title text="New Rentals"></kendo-chart-title>
              <kendo-chart-category-axis>
                <kendo-chart-category-axis-item [categories]="['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul','Aug','Sep','Oct','Nov','Dec']"
                  [title]="{ text: 'Months' }">
                </kendo-chart-category-axis-item>
              </kendo-chart-category-axis>
              <kendo-chart-series>
                <kendo-chart-value-axis>
                  <kendo-chart-value-axis-item
                  
                    
                  
                    [min]=0
                    [max]=250
                   
                  >
                  </kendo-chart-value-axis-item>
                </kendo-chart-value-axis>
                <kendo-chart-series-item type="column" [gap]="2" [data]="[123, 206, 220, 212, 240, 156, 98,180,43,55,80,190]">
                </kendo-chart-series-item>
                <kendo-chart-series-item-tooltip format=" value: ${0}">
                </kendo-chart-series-item-tooltip>
                <!-- <kendo-chart-series-item type="column" [data]="[165, 210, 287, 144, 190, 167, 212]">
                </kendo-chart-series-item>
                <kendo-chart-series-item type="column" [data]="[56, 140, 195, 46, 123, 78, 95]">
                </kendo-chart-series-item> -->
              </kendo-chart-series>
            </kendo-chart> 
          </div>
        </div>
      </div>
    </div>      
  </div>
</section>