<html lang="en">

<head>
    <title>Welkins Invoice</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
</head>
<style>
    body {
        background-color: #fff !important;
    }
</style>

<body style="background-color: #fff;">

    <section style="background-color: #fff;">
        <div class="container" id="invoice" #dataToExport>
            <div class="row  justify-content-center mb-5">
                <div class="col-lg-10 col-md-12">
                    <div class="row justify-content-around justify-content-center">
                        <div class="col-lg-6">
                            <button class="btn btn-primary" kendoButton (click)="navigate()">
                                <i class="fa-solid fa-arrow-left"></i> Go Back
                            </button>

                        </div>
                        <div class="col-lg-6 text-end">
                            <button class="btn btn-success" kendoButton (click)="pdf.saveAs('invoice.pdf')">
                                Save As PDF...
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <kendo-pdf-export #pdf>
                <div class="row justify-content-center">
                    <div class="col-lg-10 col-md-12">
                        <div class="card">
                            <!-- <mat-icon (click)="navigate()" iconPositionEnd>clear</mat-icon> -->
                            <div class="invoice-body" style="border-color: #0000002d;">
                                <div class="container mb-5 mt-3">
                                    <div class="row d-flex align-items-baseline mb-3">
                                        <div class="col-xl-4">
                                            <img class="pb-3" src="assets/images/wellkins-logo.png" alt="Logo"
                                                width="200">
                                            <p style="color:black"><strong>WELKINS CAPITAL Limited</strong> <br>
                                                ABN 12 608 424 488 <br />
                                                AFSL 482375
                                            </p>
                                        </div>
                                        <div class="col-xl-8  text-end">
                                            <h3 class=" text-end" style="color:black">INVESTMENT APPLICATION</h3>
                                            <h5 class=" text-end" style="color:black">{{prop_type}} (ARSN {{ARSN}})</h5>
                                            <ul class="list-unstyled"
                                                style="max-width: 300px; margin-left: auto; margin-top: 20px;">

                                                <li class="text-muted d-flex justify-content-between">
                                                    <div><span style="color:black " class="fw-bold">Investment Date
                                                            :</span></div>
                                                    <div style="color:black">{{Date | date : 'dd/MM/yyyy'}}</div>
                                                </li>
                                                <!--  <li class="text-muted d-flex justify-content-between">
                                                <div><span style="color:black" class="fw-bold">Date:</span></div>
                                                <div style="color:black">{{Date}}</div>
                                            </li> -->
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="container">
                                        <div class="row my-4">
                                            <div class="col-xl-5">
                                                <h5 style="color:black" class="fw-bold">{{name
                                                    }}
                                                </h5>
                                                <h6 style="color:black" class="fw-bold">{{company_trustName}}
                                                </h6>
                                                <ul class="list-unstyled" style="max-width: 200px; margin-right: auto;">
                                                    <li class="text-muted d-flex justify-content-between">
                                                        <div><span class="fw-bold"
                                                                style=" font-size: 16px !important;">{{Address}}</span>
                                                        </div>

                                                    </li>
                                                    <li class="text-muted d-flex justify-content-between">
                                                        <div><span class="fw-bold" style="font-size: 16px;">
                                                                {{sub_Address}}</span> </div>

                                                    </li>

                                                    <!-- <li class="text-muted d-flex justify-content-between">
                                                    <div><span class="fw-bold" style="color:black">Email:</span>{{email
                                                    }}</div>
                                                   
                                                </li>
                                                <li class="text-muted d-flex justify-content-between">
                                                    <div><span class="fw-bold" style="color:black">Phone:</span> {{
                                                        contactno
                                                    }} </div>
                                                    <div style="color:black"></div>
                                                </li> -->
                                                </ul>
                                            </div>
                                            <div class="col-xl-7 text-end">
                                                <ul class="list-unstyled">
                                                    <h5 class="fw-bold" style="color:black"><strong>INVESTMENT
                                                            METHOD</strong></h5>
                                                    <p class="fw-bold" style="color:black;font-weight: bold;">
                                                        <strong>Please deposit your investment Amount to :</strong></p>


                                                   
                                                    <li class="text-muted d-flex justify-content-between">
                                                        <div><span class="fw-bold" style="color:black;font-weight: bold;">Account Name
                                                                :</span></div>
                                                        <div style="color:black ;font-weight: bold;">Perpetual Corporate Trust Limited
                                                            -ACF-{{prop_type}}</div>
                                                    </li>
                                                    <li class="text-muted d-flex justify-content-between">
                                                        <div><span class="fw-bold" style="color:black ;font-weight: bold;">Account No
                                                                :</span></div>
                                                        <div style="color:black ;font-weight: bold;">{{Account_number}}</div>
                                                    </li>
                                                    <li class="text-muted d-flex justify-content-between">
                                                        <div><span class="fw-bold" style="color:black ;font-weight: bold;">BSB :</span>
                                                        </div>
                                                        <div style="color:black ;font-weight: bold;">082057</div>
                                                    </li>
                                                    <li class="text-muted d-flex justify-content-between">
                                                        <div><span style="color:black ;font-weight: bold;" class="fw-bold">Reference No
                                                                :</span></div>
                                                        <div style="color:black ;font-weight: bold;">{{invoiceInfo[0]?.order_id
                                                            }}</div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="row my-2 justify-content-center" style="font-size: 16px;">
                                            <table class="table table-borderless mb-3">
                                                <thead style="background-color:#c2272d ;" class="text-black">
                                                    <tr style="background-color:#c2272d ; color: #fff;">
                                                        <th style="background-color:#c2272d; color: #fff;" scope="col">
                                                            Description</th>
                                                        <th style="background-color:#c2272d; color: #fff;" scope="col">
                                                            Price per unit</th>
                                                        <th style="background-color:#c2272d; color: #fff;" scope="col">
                                                            Units</th>
                                                        <th style="background-color:#c2272d; color: #fff;" scope="col">
                                                            Amount Due to Be Paid</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <th scope="row">Wellkins Capital Limited <br> Class of Units :
                                                            {{invoiceInfo[0].enq_prop_data.property_name
                                                            }}</th>
                                                        <td>{{invoiceInfo[0].enq_prop_data.price_per_share | currency :
                                                            'USD' }}</td>
                                                        <td>{{invoiceInfo[0].investing_amount /
                                                            invoiceInfo[0].enq_prop_data.price_per_share | number}}</td>
                                                        <td style="text-align: center;">
                                                            {{invoiceInfo[0].investing_amount | currency : 'USD' }}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <div style="border: 1.5px solid #c2272d"></div>
                                        </div>
                                        <div class="row mt-5" style="font-size: 16px;">
                                            <div class="col-xl-6">
                                                <p class="mb-3" style="color:black"><strong>TERMS AND
                                                        CONDITIONS</strong></p>

                                                <p style="color:black;font-weight: bold">Investment applications in the
                                                    {{prop_type}} will not be processed until cleared funds are received
                                                    in full.
                                                    <br> An investment in the {{prop_type}} is not active until
                                                    confirmed by Wellkins Capital Limited as responsible entity of the
                                                    {{prop_type}}.<br> You will receive a certificate of investment upon
                                                    confirmation by Wellkins Capital Limited.
                                                </p>

                                            </div>
                                            <div class="col-xl-6 text-end">
                                                <ul class="list-unstyled"
                                                    style="max-width: 300px; margin-left: auto; margin-top: 20px;">
                                                    <li class="text-muted ms-3  d-flex justify-content-between">
                                                        <div style="color: black;"><strong>SubTotal</strong></div>
                                                        <div style="color: black;">{{invoiceInfo[0].investing_amount |
                                                            currency : 'USD' }}</div>
                                                    </li>
                                                    <li class="text-muted ms-3 mt-2  d-flex justify-content-between">
                                                        <div style="color: black;"><strong>Immediately</strong></div>
                                                        <div style="color: black;">{{ installmentAmount *
                                                            invoiceInfo[0].investing_amount /
                                                            invoiceInfo[0].enq_prop_data.price_per_share | currency :
                                                            'USD' }}</div>
                                                    </li>
                                                    <li class="text-muted ms-3 mt-3  d-flex justify-content-between">
                                                        <div style="color: black;"><strong>Next
                                                                Installment</strong></div>
                                                        <div style="color: black;">{{invoiceInfo[0].investing_amount - (
                                                            installmentAmount * invoiceInfo[0].investing_amount /
                                                            invoiceInfo[0].enq_prop_data.price_per_share) | currency :
                                                            'USD' }}</div>
                                                    </li>

                                                    <li class="text-muted ms-2 mt-3   d-flex justify-content-between"
                                                        style="background-color: #c2272d;">
                                                        <div style="color: #fff;"><strong>Due Now</strong></div>
                                                        <div style="color: #fff;"> {{ installmentAmount *
                                                            invoiceInfo[0].investing_amount /
                                                            invoiceInfo[0].enq_prop_data.price_per_share | currency :
                                                            'USD' }} </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <hr>
                                        <table class="table table-borderless mb-3">
                                            <thead style="background-color:#c2272d ;" class="text-black">
                                                <tr style="background-color:#c2272d ; color: #fff;">
                                                    <th style="background-color:#c2272d; color: #fff;text-align: center;font-style: italic;font-size: 15px;"
                                                        scope="col">
                                                        Kindly ignore this investment application if you have already
                                                        made the payment.</th>
                                                </tr>
                                            </thead>
                                        </table>
                                        <div class="row" style="font-size: 16px;">
                                            <div class="col-xl-10">
                                                <p style="text-transform: uppercase; color:black"><strong>Thank you for
                                                        your
                                                        Investment</strong></p>
                                                <ul class="list-unstyled">
                                                    <li><span style="color: #c2272d;"><i
                                                                class="k-icon k-font-icon k-i-user"></i> 02 9119
                                                            4947</span> </li>
                                                    <li><span style="color: #c2272d;"><i
                                                                class="k-icon k-font-icon k-i-envelope "></i>
                                                            info@wellkins.com.au</span>
                                                    </li>
                                                    <li><span style="color: #c2272d;"><i
                                                                class=" k-icon k-font-icon k-i-globe "></i>
                                                            www.wellkins.com.au</span>
                                                    <li><span style="color: #c2272d;"><i
                                                                class="k-icon k-font-icon k-i-map-marker"></i> 4.01/5
                                                            Celebration Drive, Bella Vista NSW 2153 </span>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="asterix--after"
                                            style="font-weight: bold;text-align:center; font-style: italic; font-size: 15px;color: black;">
                                            To ensure a timely allocation of your investment
                                            , please deposit your investment Amount as

                                            soon as possible. Thank you.</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </kendo-pdf-export>
        </div>

    </section>
</body>

</html>