<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">
  <div class="spinner">
    <div class="bounce1"></div>
    <div class="bounce2"></div>
    <div class="bounce3"></div>
    <p style="color: white">Please Wait. </p>
  </div>

</ngx-spinner>
<div class="authincation h-100">
  <div class="layer-bg">
    <div class="layer-inner">
      <div class="layer-image"></div>
    </div>
    <div class="container">
       <!-- FORGOT PASSWORD -->
       <div *ngIf="showForgot"class="row gx-0 justify-content-center h-100 align-items-center bg-white">
        <div class="col-lg-6 col-md-6">
          <div class="bg-white p-5">
            <span class="back-btn"><a href="#"><i class="fa-solid fa-arrow-left"></i></a></span>
            <div class="text-center">
              <h4 class="mb-5"><strong>Forgot Password</strong></h4>
            <img src="assets/images/forgot-password.png" alt="Forgot Password" width="150">
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-12">
          <div class="login-container p-5">
            <div class="login-content">
              <div class="logo text-center mb-3">
                <h6>Enter Email Address</h6>
              </div>
              <div class="px-5 py-3">
                <mat-card>
                  <form class="login" [formGroup]="loginForm" novalidate (ngSubmit)="onSubmit()">
                    <mat-form-field class="bg-white mb-3">
                      <!-- <mat-icon matPrefix><i class="fa-solid fa-user"></i></mat-icon> -->
                      <input autofocus style="color: black !important;" type="text" matInput placeholder="example@gmail.com" formControlName="username">
                    </mat-form-field>
                    <div class="text-center mt-3">
                      <button class="btn btn-white w-100" (click)="sendOtp()">Send OTP</button>
                    </div>
                  </form>
                </mat-card>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- OTP VARIFICATION -->
      <div  *ngIf="showVerification" class="row gx-0 justify-content-center h-100 align-items-center bg-white">
        <div class="col-lg-6 col-md-6">
          <div class="bg-white p-5">
            <span class="back-btn"><a href="#"><i class="fa-solid fa-arrow-left"></i></a></span>
            <div class="text-center">
              <h4 class="mb-5"><strong>Verification</strong></h4>
            <img src="assets/images/varify.png" alt="Forgot Password" width="150">
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-12">
          <div class="login-container p-5">
            <div class="login-content">
              <div class="logo text-center mb-3">
                <h6>Enter Verification Code</h6>
              </div>
              <div class="px-5 py-3">
                <mat-card>
                  <form class="login" [formGroup]="loginForm" novalidate (ngSubmit)="onSubmit()">
                    <ngx-otp-input
                    [config]="otpInputConfig"
                    (otpChange)="handeOtpChange($event)"
                    (fill)="handleFillEvent($event)"
                    
                  >
                  </ngx-otp-input>
                    <div class="check-area mb-3">
                      <label class="fnt-12">If you didn't receive a code! <a class="font-white" href="#">Resend</a></label>
                    </div>
                    <div class="text-center mt-3">
                      <button class="btn btn-white w-100"  [disabled]="enableVerify" (click)="onVerificationClick()">Verify</button>
                    </div>
                  </form>
                </mat-card>
              </div>
            </div>
          </div>
        </div>
      </div>


       <!-- NEW PASSWORD -->
       <div  *ngIf="editPassword" class="row gx-0 justify-content-center h-100 align-items-center bg-white">
        <div class="col-lg-6 col-md-6">
          <div class="bg-white p-5">
            <span class="back-btn"><a href="#"><i class="fa-solid fa-arrow-left"></i></a></span>
            <div class="text-center">
              <h4 class="mb-5"><strong>New Password</strong></h4>
            <img src="assets/images/new-password.png" alt="Forgot Password" width="150">
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-12">
          <div class="login-container p-5">
            <div class="login-content">
              <div class="logo text-center mb-3">
                <h6>Welcome</h6>
              </div>
              <div class="px-5 py-3">
                <mat-card>
                  <form class="login" [formGroup]="loginForm" novalidate (ngSubmit)="onSubmit()">
                    <mat-form-field class="bg-white mb-3">
                      <!-- <mat-icon matPrefix><i class="fa-solid fa-user"></i></mat-icon> -->
                      <input autofocus style="color: black !important;" type="password" matInput placeholder="Enter new password" formControlName="password">
                    </mat-form-field>

                    <mat-form-field class="bg-white mb-3">
                      <!-- <mat-icon matPrefix><i class="fa-solid fa-key"></i></mat-icon> -->
                      <input style="color: black !important;" type="password" style="color: black !important;" autocomplete="false" matInput placeholder="confirm password"
                        formControlName="confirmpassword">
                    </mat-form-field>

                    <div class="text-center mt-3">
                      <button class="btn btn-white w-100" (click)="onpasswordChange()">Submit</button>
                    </div>
                  </form>
                </mat-card>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>